@use "../../styles/variables" as variables;

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .icon {
      width: 20px;
      height: 20px;
      filter: brightness(0) invert(1);
    }

    .title {
      font-size: 12px;
      font-weight: 200;
      color: variables.$soft-color;
      text-transform: uppercase;

      //   @include lg{
      //     display: none;
      //   }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: variables.$soft-bg;
      }

      //   .listItemTitle{
      //     @include lg{
      //       display: none;
      //     }
      //   }
    }
  }
}
